schemas/ILCD_LCIAMethodDataSet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ILCD Format Version 1.1 Schemas Build 983 -->
<!--
Copyright (c) 1995-2009, European Commission. All rights reserved.

This file is part of the ILCD data format. The license conditions for the ILCD data format can be
found in the file ILCD_format_and_editor_license.txt included in this distribution. The license is
also available at http://lca.jrc.ec.europa.eu/eplca/doc/ILCD_format_and_editor_license.txt.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ilcd="http://lca.jrc.it/ILCD"
           xmlns:common="http://lca.jrc.it/ILCD/Common"
           xmlns:lciamethod="http://lca.jrc.it/ILCD/LCIAMethod"
           xmlns="http://lca.jrc.it/ILCD/LCIAMethod"
           xmlns:edoc="http://www.iai.fzk.de/lca/edoc"
           targetNamespace="http://lca.jrc.it/ILCD/LCIAMethod"
           elementFormDefault="qualified"
           version="1.1">
   <xs:import namespace="http://lca.jrc.it/ILCD/Common"
              schemaLocation="ILCD_Common_Groups.xsd"/>
   <xs:simpleType name="ScopeOfReviewValues">
      <xs:restriction base="xs:string">
         <xs:enumeration value="Substance properties, physical and chemical">
            <xs:annotation>
               <xs:documentation>Considered physical and chemical properties used for the model.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Substance properties, biological">
            <xs:annotation>
               <xs:documentation>Considered biological properties of substances used for the model.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Model for Transport and Fate">
            <xs:annotation>
               <xs:documentation>Model for transport and fate of substances in the environment.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Model for Exposure">
            <xs:annotation>
               <xs:documentation>Model for exposure of included protection targets.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Model for Effect">
            <xs:annotation>
               <xs:documentation>Model for effect to included protection targets.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Model for Damage">
            <xs:annotation>
               <xs:documentation>Model for calculation of damage effects to included protection targets.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Characterisation factors">
            <xs:annotation>
               <xs:documentation>Review of calculation and results of single characterisation factors resulting from the model as a whole.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Application of model">
            <xs:annotation>
               <xs:documentation>Review of the general application of the model to the LCIA method.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Normalisation">
            <xs:annotation>
               <xs:documentation>Included normalisation, if any.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Weighting">
            <xs:annotation>
               <xs:documentation>Included weighting scheme, if any.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Documentation">
            <xs:annotation>
               <xs:documentation>Verification of the appropriateness and correctness of the documentation.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="MethodOfReviewValues">
      <xs:restriction base="xs:string">
         <xs:enumeration value="Recollection / Validation of data"/>
         <xs:enumeration value="Recalculation"/>
         <xs:enumeration value="Cross-check with other source"/>
         <xs:enumeration value="Cross-check with other LCIA method(ology)"/>
         <xs:enumeration value="Expert judgement"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="AdministrativeInformationType" mixed="false">
      <xs:sequence>
         <xs:element ref="common:commissionerAndGoal" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-21-92" name="commissionerAndGoal"/>
                  <ilcd:display-name>Commissioner and goal</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
               </xs:appinfo>
               <xs:documentation>Extract of the information items linked to goal and scope of LCIA method modeling.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="dataGenerator" type="DataGeneratorType">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-21-94" name="dataGenerator"/>
                  <ilcd:display-name>Data generator</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
               </xs:appinfo>
               <xs:documentation>Expert(s), that compiled and modelled the data set as well as internal administrative information linked to the data generation activity.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="dataEntryBy" type="DataEntryByType">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-21-96" name="dataEntryBy"/>
                  <ilcd:display-name>Data entry by</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>r</ilcd:field-motivation>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Staff or entity, that documented the generated data set, entering the information into the database; plus administrative information linked to the data entry activity.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="publicationAndOwnership" type="PublicationAndOwnershipType">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-21-98" name="publicationAndOwnership"/>
                  <ilcd:display-name>Publication and ownership</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
               </xs:appinfo>
               <xs:documentation>Information related to publication and version management of the data set including copyright and access restrictions.</xs:documentation>
            </xs:annotation>
            <xs:unique name="accessRestrictionsLangUniqueConstraint">
               <xs:selector xpath="common:accessRestrictions"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="CompletenessType">
      <xs:sequence>
         <xs:element name="completenessImpactCoverage" type="common:Perc" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-19-85-10" name="completenessImpactCoverage"/>
                  <ilcd:display-name>Completeness of impact coverage</ilcd:display-name>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Estimate of the completeness of coverage of impact(s), as identified in the fields "Impact category/ies" or - only for LCIA methodologies with Damage
            indicator or Combined single-point indicators - "Area(s) of Protection". Expressed by the quantitative extent of coverage of the scientifically recognized, impact. Note
            that this information is typically highly uncertain.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="inventoryItems" type="common:Int6" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-19-85-11" name="inventoryItems"/>
                  <ilcd:display-name>Number of basic inventory items covered</ilcd:display-name>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Number of chemical substances/substance groups, chemical elements, or types covered, without considering variants by environmental emission or source
            compartment, geographical location, time, or other.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ComplianceDeclarationsType" mixed="false">
      <xs:sequence>
         <xs:element name="compliance" type="ComplianceType" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="ComplianceType" mixed="false">
      <xs:sequence>
         <xs:group ref="common:ComplianceGroup"/>
         <xs:element ref="common:nomenclatureCompliance" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="1-3-22-92" name="nomenclatureCompliance"/>
                  <ilcd:display-name>Nomenclature compliance</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>r</ilcd:field-motivation>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Nomenclature compliance of this data set with the respective requirements set by the "compliance system" refered to.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:methodologicalCompliance" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="1-3-22-91" name="methodologicalCompliance"/>
                  <ilcd:display-name>Methodological compliance</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>r</ilcd:field-motivation>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Methodological compliance of this data set with the respective requirements set by the "compliance system" refered to.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:reviewCompliance" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="1-3-22-93" name="reviewCompliance"/>
                  <ilcd:display-name>Review compliance</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>r</ilcd:field-motivation>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Review/Verification compliance of this data set with the respective requirements set by the "compliance system" refered to.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:documentationCompliance" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="1-3-22-94" name="documentationCompliance"/>
                  <ilcd:display-name>Documentation compliance</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>r</ilcd:field-motivation>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Documentation/Reporting compliance of this data set with the respective requirements set by the "compliance system" refered to.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:qualityCompliance" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="1-3-22-96" name="qualityCompliance"/>
                  <ilcd:display-name>Quality compliance</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>r</ilcd:field-motivation>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Quality compliance of this data set with the respective requirements set by the "compliance system" refered to.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="DataEntryByType" mixed="false">
      <xs:sequence>
         <xs:group ref="common:DataEntryByGroup1"/>
         <xs:element ref="common:referenceToConvertedOriginalDataSetFrom" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-21-96-249" name="referenceToConvertedOriginalDataSetFrom"/>
                  <ilcd:display-name>Reference to origin of data set</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>q</ilcd:field-motivation>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>"Source data set" of the database or data set publication from which this data set has been obtained by conversion. This can cover e.g. conversion to a
            different format, applying a different nomenclature, mapping of flow names, conversion of units, etc. This may however not have changed or re-modeled the
            characterisation factors. This entry is required for converted data sets stemming originally from other LCA databases (e.g. when re-publishing LCIA characterisation
            factors from the database of the original impact method developer). [Note: Identically re-published data sets are identied in the field "Unchanged re-publication of:"
            in the section "Publication and Ownership".]</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:group ref="common:DataEntryByGroup2"/>
         <xs:element name="recommendationBy" type="RecommendationType" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-21-96-250" name="recommendationBy"/>
                  <ilcd:display-name>Official recommendation</ilcd:display-name>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation/>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="DataGeneratorType">
      <xs:sequence>
         <xs:element ref="common:referenceToPersonOrEntityGeneratingTheDataSet"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-21-94-15" name="referenceToPersonOrEntityGeneratingTheDataSet"/>
                  <ilcd:display-name>Data set generator / modeller</ilcd:display-name>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>"Contact data set" of the person(s), working group(s), organisation(s) or database network, that generated the data set, i.e. being responsible for its
            correctness regarding methods, inventory, and documentation.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="DataSetInformationType" mixed="false">
      <xs:sequence>
         <xs:element ref="common:UUID">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-70-201" name="UUID"/>
                  <ilcd:display-name>UUID of LCIA method data set</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>m</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Automatically generated Universally Unique Identifier of this data set. Together with the "Data set version", the UUID uniquely identifies each data
            set.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:name" minOccurs="0" maxOccurs="100">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-70-202" name="name"/>
                  <ilcd:display-name>Name of LCIA method or methodology</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Name of the data set. Composed as follows "LCIA methodology short name; Impact category/ies; midpoint/endpoint; Impact indicator; Source short name". Not
            applicable components are left out. Examples: "Impacts2007+; Climate change; midpoint; Global Warming Potential; IPCC 2001"; "ABC 2006; Acidification; endpoint; Species
            diversity loss; John Doe 2006"; "My-indicator2009; combined; endpoint; Ecopoints; various"</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="methodology" type="xs:string" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-70-208" name="methodology"/>
                  <ilcd:display-name>Belongs to: Name of LCIA methodology/ies</ilcd:display-name>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Name of the LCIA methodology/ies the data set belongs to, if any</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="classificationInformation" type="common:ClassificationInformationType"
                     minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-70-204" name="classificationInformation"/>
                  <ilcd:display-name>Classfication information</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement/>
               </xs:appinfo>
               <xs:documentation/>
            </xs:annotation>
         </xs:element>
         <xs:element name="impactCategory" type="common:LCIAImpactCategoryValues" minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-70-209" name="impactCategory"/>
                  <ilcd:display-name>Impact category/ies</ilcd:display-name>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Impact category/ies covered by the LCIA method or methodology.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="areaOfProtection" type="common:AreaOfProtectionValues" minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-70-210" name="areaOfProtection"/>
                  <ilcd:display-name>Area(s) of Protection</ilcd:display-name>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>For damage (endpoint) and single-point indicators only: Area(s) of Protection the data set relates to.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="impactIndicator" type="common:String" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-70-211" name="impactIndicator"/>
                  <ilcd:display-name>Impact indicator</ilcd:display-name>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Description of the meaning of the impact indicator of this data set (not applicable for LCIA methodologies data sets).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:generalComment" minOccurs="0" maxOccurs="100">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-70-207" name="generalComment"/>
                  <ilcd:display-name>General comment</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>o</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>General information about the data set, including e.g. general (internal, not reviewed) quality statements as well as information sources used. (Note: Please also check the more specific fields e.g. on "Intended application", "Advice on data set use" and the fields in the "Modelling and validation" section to avoid overlapping entries.)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="referenceToExternalDocumentation" type="common:GlobalReferenceType"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-70-213" name="referenceToExternalDocumentation"/>
                  <ilcd:display-name>External documentation / files source</ilcd:display-name>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>"Source data set(s)" of external documents / files with further documentative information on the data set including on underlying data sources (e.g. time,
            geographical coverage, impact models, characterisation factors, substance property databases employed, etc.). (Note: can indirectly reference to digital file.)
        </xs:documentation>
            </xs:annotation>
            <xs:unique name="referenceToExternalDocumentationShortDescriptionLangUniqueConstraint">
               <xs:selector xpath="common:shortDescription"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="DataSourcesType" mixed="false">
      <xs:sequence>
         <xs:element name="referenceToDataSource" type="common:GlobalReferenceType" minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-19-84-219" name="referenceToDataSource"/>
                  <ilcd:display-name>Data sources</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>"Source data set(s)" of the data source(s) used for the data set e.g. paper, questionnaire, monography etc. The main data sources e.g. for underlying
            substance properties are named, too.</xs:documentation>
            </xs:annotation>
            <xs:unique name="referenceToDataSourceShortDescriptionLangUniqueConstraint">
               <xs:selector xpath="common:shortDescription"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="CharacterisationFactorType" mixed="false">
      <xs:sequence>
         <xs:element name="referenceToFlowDataSet" type="common:GlobalReferenceType">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-23-100-260" name="referenceToFlowDataSet"/>
                  <ilcd:display-name>Reference to flow data set</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>t</ilcd:field-motivation>
                  <ilcd:field-requirement>m</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Reference to "UUID of flow" of "Flow data set" to link the particular impact factor in the "LCIA data set" to the respective "Flow data set". Please be
            aware, that for location-specific LCIA methods, there may be multiple references to the same Flow data set.</xs:documentation>
            </xs:annotation>
            <xs:unique name="referenceToFlowDataSetShortDescriptionLangUniqueConstraint">
               <xs:selector xpath="common:shortDescription"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element name="location" type="common:String" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-23-100-261" name="location"/>
                  <ilcd:display-name>Location of exchange</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>t</ilcd:field-motivation>
                  <ilcd:field-requirement>o</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Location where exchange of elementary flow occurs. Used only for those LCIA methods, that make use of such information. This information refers to the
            entry within the same field in the "Process data set".</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="exchangeDirection" type="common:ExchangeDirectionValues">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-23-100-262" name="exchangeDirection"/>
                  <ilcd:display-name>Exchange direction</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>t</ilcd:field-motivation>
                  <ilcd:field-requirement>m</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Direction of exchange; this information refers to the entry within the same field in the "Process data set".</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="meanValue" type="common:Real">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-23-100-263" name="meanValue"/>
                  <ilcd:display-name>Mean value ( of LCIA characterisation factor)</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>t</ilcd:field-motivation>
                  <ilcd:field-requirement>m</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Mean value of the impact characterisation factor for the exchange identified by the fields "Reference to flow data set", "Exchange direction" and
            "Location of direction". It is recommended to report only significant digits of the amount. ! If for an elementary flow its relevant contribution to this LCIA theme is
            known by state-of-the-art scientific knowledge, but no impact factor is provided in the LCIA method, the flow should nevertheless be referrenced and the mean value to
            be entered is "0"!</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="minimumValue" type="common:Real" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-23-100-264" name="minimumValue"/>
                  <ilcd:display-name>Minimum value</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>r</ilcd:field-motivation>
                  <ilcd:field-requirement>o</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Minimum value of the characterisation factor for the exchange in case uncertainty distribution is uniform or triangular.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="maximumValue" type="common:Real" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-23-100-265" name="maximumValue"/>
                  <ilcd:display-name>Maximum value</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>r</ilcd:field-motivation>
                  <ilcd:field-requirement>o</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Maximum value of the characterisation factor for the exchange in case uncertainty distribution is uniform or triangular.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="uncertaintyDistributionType"
                     type="common:UncertaintyDistributionTypeValues"
                     minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-23-100-266" name="uncertaintyDistributionType"/>
                  <ilcd:display-name>Uncertainty distribution type</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>r</ilcd:field-motivation>
                  <ilcd:field-requirement>o</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Defines the kind of uncertainty distribution that is valid for this particular object or parameter.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="relativeStandardDeviation95In" type="common:Perc" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-23-100-267" name="relativeStandardDeviation95In"/>
                  <ilcd:display-name>Relative StdDev in %</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>r</ilcd:field-motivation>
                  <ilcd:field-requirement>o</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>The resulting overall uncertainty of the calculated variable value considering uncertainty of measurements, modelling, appropriateness etc. [Notes: For log-normal distribution the square of the geometric standard deviation (SDg^2) is stated. Mean value times SDg^2 equals the 97.5% value (= Maximum value), Mean value divided by SDg^2 equals the 2.5% value (= Minimum value). For normal distribution the doubled standard deviation value (2*SD) is entered. Mean value plus 2*SD equals 97.5% value (= Maximum value), Mean value minus 2*SD equals 2.5% value (= Minimum value). This data field remains empty when uniform or triangular uncertainty distribution is applied.]</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="dataDerivationTypeStatus" type="common:DataDerivationTypeStatusValues"
                     minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-23-100-269" name="dataDerivationTypeStatus"/>
                  <ilcd:display-name>Data derivation type / status</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>q</ilcd:field-motivation>
                  <ilcd:field-requirement>o</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Identifies the way by which the individual Input / Output amount was derived (e.g. measured, estimated etc.), respectively the status and relevancy of missing data.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="deviatingRecommendation" type="common:RecommendationLevelValues"
                     minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-23-100-268" name="deviatingRecommendation"/>
                  <ilcd:display-name>Deviating recommendation</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>m</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Deviating (downgraded) recommendation level for this exchange, in reference to the recommendation level of the LCIA method data set as a whole (see field
            "Official recommendation of data set by governmental body:").</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="referencesToDataSource" type="ReferencesToDataSourceType" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-23-100-270" name="referenceToDataSource"/>
                  <ilcd:display-name>Reference to data source(s)</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>q</ilcd:field-motivation>
                  <ilcd:field-requirement>o</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Reference to "UUID of source"(s) in the "Source data set" of data source(s) used for modelling the value of this single LCIA factor e.g. a specific paper,
            questionnaire, monography etc. If, as typical, more than one data source was used, more than one source can be referenced.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="generalComment" type="common:StringMultiLang" minOccurs="0"
                     maxOccurs="100">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-23-100-272" name="generalComment"/>
                  <ilcd:display-name>General comment</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>r</ilcd:field-motivation>
                  <ilcd:field-requirement>o</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>General information about the data set, including e.g. general (internal, not reviewed) quality statements as well as information sources used. (Note: Please also check the more specific fields e.g. on "Intended application", "Advice on data set use" and the fields in the "Modelling and validation" section to avoid overlapping entries.)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="CharacterisationFactorsType" mixed="false">
      <xs:sequence>
         <xs:element name="factor" type="CharacterisationFactorType" maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-23-100" name="factor"/>
                  <ilcd:display-name>Characterisation factor</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>t</ilcd:field-motivation>
               </xs:appinfo>
               <xs:documentation/>
            </xs:annotation>
            <xs:unique name="flowGeneralCommentLangUniqueConstraint">
               <xs:selector xpath="lciamethod:generalComment"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="GeographyType" mixed="false">
      <xs:sequence>
         <xs:element name="interventionLocation" type="common:LocationType" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-76-212" name="interventionLocation"/>
                  <ilcd:display-name>Intervention location</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Specific, country, or region of the elementary flows' / exchanges' occurence for which the LCIA method(ology) is valid / modelled. [Note: Entry can be of
            type "two-letter ISO 3166 country code" for countries, "seven-letter regional codes" for regions or continents, or "market areas and market organisations", as
            predefined for the ILCD. Also a name for e.g. a specific plant etc. can be given here (e.g. "FR, Lyon, XY Company, Z Site"; user defined). ]</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="interventionSubLocation" type="common:LocationType" minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-76-213" name="interventionSubLocation"/>
                  <ilcd:display-name>Intervention sub-location(s)</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>o</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Geographical sub-unit(s) of "Intervention location(s)" that further specify the specifically modelled sub-locations. Such sub-locations can be e.g. sites
            of a company, specific catchments modleled, countries of a continent, or locations in a country. Information on limited representativeness should be provided if
            applicable. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="impactLocation" type="common:LocationType" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-76-214" name="impactLocation"/>
                  <ilcd:display-name>Impact location</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation> Location or region where the impact is modelled to take place. [Note: Entry can be of type "two-letter ISO 3166 country code" for countries,
            "seven-letter regional codes" for regions or continents, or "market areas and market organisations", as predefined for the ILCD. Also a name for e.g. a specific
            catchment etc. can be given here, user defined).] </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="geographicalRepresentativenessDescription" type="common:FTMultiLang"
                     minOccurs="0"
                     maxOccurs="100">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-76-215" name="geographicalRepresentativenessDescription"/>
                  <ilcd:display-name>Geographical representativeness description</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Further explanation on additional aspects of the location, both regarding the intervention and the impact: whether certain areas are exempted from the
            location, whether data is only valid for certain sub-locations within the location indicated, or whether impact indicator values for certain elementary flows are
            extrapolated from another geographical area than indicated. Information on the use of generic intervention and/or impact locations, and other
            restrictions.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="ImpactModelType" mixed="false">
      <xs:sequence>
         <xs:element name="modelName" type="common:ST" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-78-215" name="modelName"/>
                  <ilcd:display-name>LCIA characterisation model(s) name(s)</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Name(s) of the model(s) used for calculating the LCIA impact indicator values (if any)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="modelDescription" type="common:FTMultiLang" minOccurs="0" maxOccurs="100">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-78-216" name="modelDescription"/>
                  <ilcd:display-name>LCIA characterisation model description and included sub-models</ilcd:display-name>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Description of the model used for calculating the LCIA impact indicator values, including underlying substance property data sources, background
            concentrations, etc. If an LCIA methodology comprises several LCIA methods, these are explicitly included in the description. Professional nomenclature is used for the
            description. Note that eventually included Normalisation and Weighting factors are described in the dedicated separate fields.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="referenceToModelSource" type="common:GlobalReferenceType" minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-78-217" name="referenceToModelSource"/>
                  <ilcd:display-name>LCIA characterisation model source</ilcd:display-name>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>"Source data set(s)" of data sources concerning the characterisation model (guidelines, supporting documentation etc)</xs:documentation>
            </xs:annotation>
            <xs:unique name="referenceToModelSourceShortDescriptionLangUniqueConstraint">
               <xs:selector xpath="common:shortDescription"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element name="referenceToIncludedMethods" type="common:GlobalReferenceType"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-78-218" name="referenceToIncludedMethods"/>
                  <ilcd:display-name>Included LCIA characterisation methods</ilcd:display-name>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>"LCIA method data set(s)" of LCIA characterisation methods included in this data set or used to derive this LCIA methodology</xs:documentation>
            </xs:annotation>
            <xs:unique name="referenceToIncludedMethodsShortDescriptionLangUniqueConstraint">
               <xs:selector xpath="common:shortDescription"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element name="consideredMechanisms" type="common:STMultiLang" minOccurs="0"
                     maxOccurs="100">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-78-219" name="consideredMechanisms"/>
                  <ilcd:display-name>Considered environmental or other mechanisms along the impact chain</ilcd:display-name>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Description of the environmental or other mechanisms included in the explicitly considered part of the impact chain. Can relate to (ilustrative): For
            emissions e.g.: transport, conversion / degradation, exposure, effect(s), damage(s) on humans and the natural environment. For material and energy resources: scarcity
            or other impact concept. For land use: soil, area, biocoenosis related meachanisms, effect(s), damage(s).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="referenceToMethodologyFlowChart" type="common:GlobalReferenceType"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-78-220" name="referenceToMethodologyFlowChart"/>
                  <ilcd:display-name>LCIA method(ology) flowchart</ilcd:display-name>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>"Source data set(s)" of flowchart(s) and/or pictures depicting the LCIA method(ology).</xs:documentation>
            </xs:annotation>
            <xs:unique name="referenceToMethodologyFlowChartShortDescriptionLangUniqueConstraint">
               <xs:selector xpath="common:shortDescription"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="LCIAMethodDataSetType" mixed="false">
      <xs:sequence>
         <xs:element name="LCIAMethodInformation" type="LCIAMethodInformationType">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17" name="LCIAMethodInformation"/>
                  <ilcd:display-name>LCIA method information</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
               </xs:appinfo>
               <xs:documentation/>
            </xs:annotation>
         </xs:element>
         <xs:element name="modellingAndValidation" type="ModellingAndValidationType">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-19" name="modellingAndValidation"/>
                  <ilcd:display-name>Modelling and validation</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
               </xs:appinfo>
               <xs:documentation>Covers the five sub-sections 1) LCIA method, normalisation, weighting 2) Data sources 3) Completeness, 4) Validation, and 5) Compliance
            declarations.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="administrativeInformation" type="AdministrativeInformationType"
                     minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-21" name="administrativeInformation"/>
                  <ilcd:display-name>Administrative information</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Information required for data set management and administration.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="characterisationFactors" type="CharacterisationFactorsType" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-23" name="characterisationFactors"/>
                  <ilcd:display-name>Characterisation factors</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>t</ilcd:field-motivation>
               </xs:appinfo>
               <xs:documentation>Flow / Exchanges list with corresponding impact factors according to the respective LCIA method.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="version" type="common:SchemaVersion" use="required"/>
      <xs:attribute name="locations" type="common:String"/>
      <xs:attribute name="LCIAMethodologies" type="common:String"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="LCIAMethodInformationType" mixed="false">
      <xs:sequence>
         <xs:element name="dataSetInformation" type="DataSetInformationType">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-70" name="dataSetInformation"/>
                  <ilcd:display-name>Data set information</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
               </xs:appinfo>
               <xs:documentation/>
            </xs:annotation>
            <xs:unique name="nameLangUniqueConstraint">
               <xs:selector xpath="common:name"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
            <xs:unique name="synonymsLangUniqueConstraint">
               <xs:selector xpath="common:synonyms"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
            <xs:unique name="generalCommentLangUniqueConstraint">
               <xs:selector xpath="common:generalComment"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element name="quantitativeReference" type="QuantitativeReferenceType" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-72" name="quantitativeReference"/>
                  <ilcd:display-name>Quantitative reference</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
               </xs:appinfo>
               <xs:documentation>This section allows to refer to the LCIA method(ology)'s quantitative reference, which is always the unit, in which the characterisation factors of the
            impact indicator are measured, e.g. "kg CO2-Equivalents".</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="time" type="TimeType" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-74" name="time"/>
                  <ilcd:display-name>Time representativeness</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
               </xs:appinfo>
               <xs:documentation/>
            </xs:annotation>
            <xs:unique name="durationLangUniqueConstraint">
               <xs:selector xpath="lciamethod:duration"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
            <xs:unique name="timeRepresentativenessDescriptionLangUniqueConstraint">
               <xs:selector xpath="lciamethod:timeRepresentativenessDescription"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element name="geography" type="GeographyType">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-76" name="geography"/>
                  <ilcd:display-name>Geographical representativeness</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
               </xs:appinfo>
               <xs:documentation/>
            </xs:annotation>
            <xs:unique name="geographicalRepresentativenessDescriptionLangUniqueConstraint">
               <xs:selector xpath="lciamethod:geographicalRepresentativenessDescription"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element name="impactModel" type="ImpactModelType" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-78" name="impactModel"/>
                  <ilcd:display-name>Impact model</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
               </xs:appinfo>
               <xs:documentation>Provides information about the general representativiness of the data set and about its composition of single LCIA-methods.</xs:documentation>
            </xs:annotation>
            <xs:unique name="modelDescriptionLangUniqueConstraint">
               <xs:selector xpath="lciamethod:modelDescription"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
            <xs:unique name="consideredMechanismsLangUniqueConstraint">
               <xs:selector xpath="lciamethod:consideredMechanisms"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="LCIAMethodNormalisationAndWeightingType" mixed="false">
      <xs:sequence>
         <xs:element name="typeOfDataSet" type="common:TypeOfLCIAMethodValues" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-19-83-10" name="typeOfDataSet"/>
                  <ilcd:display-name>Type of data set</ilcd:display-name>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Type of data set regarding the extent of the impact chain that is covered.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="LCIAMethodPrinciple" type="common:LCIAMethodPrincipleValues"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-19-83-11" name="LCIAMethodPrinciple"/>
                  <ilcd:display-name>LCIA method principle(s)</ilcd:display-name>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>LCIA method principle(s) followed to derive the impact factors.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="deviationsFromLCIAMethodPrinciple" type="common:FTMultiLang"
                     minOccurs="0"
                     maxOccurs="100">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-19-83-12" name="deviationsFromLCIAMethodPrinciple"/>
                  <ilcd:display-name>Deviation from LCIA method principle(s)</ilcd:display-name>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Short description of possible data set specific deviations from "LCIA method principle(s)". Refers especially to explanations on the combination of LCIA
            methods with different principles in a single LCIA methodology.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="normalisation" type="common:boolean" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-19-83-13" name="normalisation"/>
                  <ilcd:display-name>Normalisation included?</ilcd:display-name>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Indication whether or not a normalisation step was included in the resulting impact factors. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="referenceToUsableNormalisationDataSets" type="common:GlobalReferenceType"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-19-83-14" name="referenceToUsableNormalisationDataSet"/>
                  <ilcd:display-name>Usable Normalisation data set(s), if not yet included</ilcd:display-name>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>"Normalisation data sets" that can be used together with the impact factors of this data set.</xs:documentation>
            </xs:annotation>
            <xs:unique name="referenceToUsableNormalisationDataSetsShortDescriptionLangUniqueConstraint">
               <xs:selector xpath="common:shortDescription"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element name="normalisationDescription" type="common:STMultiLang" minOccurs="0"
                     maxOccurs="100">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-19-83-15" name="normalisationDescription"/>
                  <ilcd:display-name>Description of the included normalisation</ilcd:display-name>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Short description of the included normalisation, if any.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="referenceToIncludedNormalisationDataSets"
                     type="common:GlobalReferenceType"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-19-83-16" name="referenceToIncludedNormalisationDataSets"/>
                  <ilcd:display-name>"Normalisation data set(s)" that was/were used to calculate the normalised impact factors of this data set, if any.</ilcd:display-name>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>"Normalisation data set(s)" that was/were used to calculate the normalised impact factors of this data set, if any.</xs:documentation>
            </xs:annotation>
            <xs:unique name="referenceToIncludedNormalisationDataSetsShortDescriptionLangUniqueConstraint">
               <xs:selector xpath="common:shortDescription"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element name="weighting" type="common:boolean" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-19-83-17" name="weighting"/>
                  <ilcd:display-name>Weighting included?</ilcd:display-name>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Indication whether or not a weighting-step was included in the resulting impact factors.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="referenceToUsableWeightingDataSets" type="common:GlobalReferenceType"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-19-83-18" name="referenceToUsableWeightingDataSets"/>
                  <ilcd:display-name>Usable Weighting data set(s), if not yet included</ilcd:display-name>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>"Weighting data set(s)", that can be used together with the impact factors of this data set.</xs:documentation>
            </xs:annotation>
            <xs:unique name="referenceToUsableWeightingDataSetsShortDescriptionLangUniqueConstraint">
               <xs:selector xpath="common:shortDescription"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element name="weightingDescription" type="common:STMultiLang" minOccurs="0"
                     maxOccurs="100">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-19-83-19" name="weightingDescription"/>
                  <ilcd:display-name>Description of the included weighting</ilcd:display-name>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Short description of the included weighting, if any.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="referenceToIncludedWeightingDataSets" type="common:GlobalReferenceType"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-19-83-20" name="referenceToIncludedWeightingDataSets"/>
                  <ilcd:display-name>Included Weighting data set</ilcd:display-name>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>"Weighting data set" that was used to calculate the weighted impact factors of this data set, if any.</xs:documentation>
            </xs:annotation>
            <xs:unique name="referenceToIncludedWeightingDataSetsShortDescriptionLangUniqueConstraint">
               <xs:selector xpath="common:shortDescription"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ModellingAndValidationType" mixed="false">
      <xs:sequence>
         <xs:element name="useAdviceForDataSet" type="common:STMultiLang" minOccurs="0"
                     maxOccurs="100">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-19-84-221" name="useAdviceForDataSet"/>
                  <ilcd:display-name>Use advice for data set</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Methodological advice for the use and application of this data set, such as limits in applicability or representativeness as well as recommendations to
            use it together with others from the same LCIA methodology to ensure consistency.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="LCIAMethodNormalisationAndWeighting"
                     type="LCIAMethodNormalisationAndWeightingType"
                     minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-19-83" name="LCIAMethodNormalisationAndWeighting"/>
                  <ilcd:display-name>LCIA method, normalisation, weighting</ilcd:display-name>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>LCIA methodological modelling aspects</xs:documentation>
            </xs:annotation>
            <xs:unique name="deviationsFromLCIAMethodPrincipleLangUniqueConstraint">
               <xs:selector xpath="lciamethod:deviationsFromLCIAMethodPrinciple"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
            <xs:unique name="normalisationDescriptionLangUniqueConstraint">
               <xs:selector xpath="lciamethod:normalisationDescription"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
            <xs:unique name="weightingDescriptionLangUniqueConstraint">
               <xs:selector xpath="lciamethod:weightingDescription"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element name="dataSources" type="DataSourcesType" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-19-84" name="dataSources"/>
                  <ilcd:display-name>Data sources</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
               </xs:appinfo>
               <xs:documentation>Data sources used for the model and the underlying substance and other data.</xs:documentation>
            </xs:annotation>
            <xs:unique name="useAdviceForDataSetLangUniqueConstraint">
               <xs:selector xpath="lciamethod:useAdviceForDataSet"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element name="completeness" type="CompletenessType" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-19-85" name="completeness"/>
                  <ilcd:display-name>Completeness</ilcd:display-name>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation/>
            </xs:annotation>
         </xs:element>
         <xs:element name="validation" type="ValidationType" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-19-88" name="validation"/>
                  <ilcd:display-name>Validation</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
               </xs:appinfo>
               <xs:documentation>Review information on LCIA method.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="complianceDeclarations" type="ComplianceDeclarationsType" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-19-90" name="complianceDeclarations"/>
                  <ilcd:display-name>Compliance</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
               </xs:appinfo>
               <xs:documentation>Statements on compliance of several data set aspects with compliance requirements as defined by the referenced compliance system (e.g. an EPD scheme, handbook of a national or international data network such as the ILCD, etc.).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="PublicationAndOwnershipType" mixed="false">
      <xs:sequence>
         <xs:element ref="common:dateOfLastRevision" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="1-5-30-113" name="dateOfLastRevision"/>
                  <ilcd:display-name>Date of last revision</ilcd:display-name>
                  <ilcd:iso-field-id>3.3</ilcd:iso-field-id>
                  <ilcd:iso-field-name>Version number</ilcd:iso-field-name>
                  <ilcd:field-motivation>r</ilcd:field-motivation>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Date when the data set was revised for the last time, typically manually set.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:group ref="common:PublicationAndOwnershipGroup1"/>
         <xs:group ref="common:PublicationAndOwnershipGroup2"/>
         <xs:element ref="common:referenceToOwnershipOfDataSet" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="1-5-30-115" name="referenceToOwnershipOfDataSet"/>
                  <ilcd:display-name>Owner of data set</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>r</ilcd:field-motivation>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>"Contact data set" of the person or entity who owns this data set. (Note: this is not necessarily the publisher of the data set.)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:copyright" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="1-5-30-116" name="copyright"/>
                  <ilcd:display-name>Copyright?</ilcd:display-name>
                  <ilcd:iso-field-id>3.9</ilcd:iso-field-id>
                  <ilcd:iso-field-name>Copyright</ilcd:iso-field-name>
                  <ilcd:field-motivation>r</ilcd:field-motivation>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Indicates whether or not a copyright on the data set exists. Decided upon by the "Owner of data set". [Note: See also field "Access and use
            restrictions".]</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:accessRestrictions" minOccurs="0" maxOccurs="100">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="1-5-30-118" name="accessRestrictions"/>
                  <ilcd:display-name>Access and use restrictions</ilcd:display-name>
                  <ilcd:iso-field-id>3.10</ilcd:iso-field-id>
                  <ilcd:iso-field-name>Access restrictions</ilcd:iso-field-name>
                  <ilcd:field-motivation>r</ilcd:field-motivation>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Access restrictions / use conditions for this data set as free text or referring to e.g. license conditions. In case of no restrictions "None" is
            entered.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="QuantitativeReferenceType" mixed="false">
      <xs:sequence>
         <xs:element name="referenceQuantity" type="common:GlobalReferenceType">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-72-208" name="referenceQuantitiy"/>
                  <ilcd:display-name>Reference quantity</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>"Flow property data set" of the reference quantity (flow property), in which the impact indicator values are measured.</xs:documentation>
            </xs:annotation>
            <xs:unique name="referenceQuantityShortDescriptionLangUniqueConstraint">
               <xs:selector xpath="common:shortDescription"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="RecommendationType">
      <xs:sequence>
         <xs:element name="referenceToEntity" type="common:GlobalReferenceType" minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-21-96-251" name="referenceToEntity"/>
                  <ilcd:display-name>Official recommendation of data set by governmental body:</ilcd:display-name>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>"Contact data set(s)" of the governmental body/ies that has/ve officially recommended this LCIA method data set and its impact factors for use within the
            documented scope. Eventually deviating (downgraded) recommendations for individual exchanges are documented in the "Inputs and Outputs" section of the data
            set.</xs:documentation>
            </xs:annotation>
            <xs:unique name="referenceToEntityShortDescriptionLangUniqueConstraint">
               <xs:selector xpath="common:shortDescription"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element name="level" type="common:RecommendationLevelValues" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-21-96-252" name="level"/>
                  <ilcd:display-name>Recommendation level of LCIA method data set</ilcd:display-name>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Level of recommendation given to this data set by the recommending governmental body. Note that the recommendation level of individual elementary flows
            can be different (lower) from the general level; this is documented as "Deviating recommendation" in the section "Characterisation factors" directly for each affected
            elementary flow.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="meaning" type="common:FTMultiLang" minOccurs="0" maxOccurs="100">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-21-96-253" name="meaning"/>
                  <ilcd:display-name>Specific meaning of the recommendation level</ilcd:display-name>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Specific meaning of the declared recommendation level of this LCIA method / methodology and the characterisation factors, as defined in the guidance
            document referenced in in the field "Compliance system"</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ReferencesToDataSourceType">
      <xs:sequence>
         <xs:element name="referenceToDataSource" type="common:GlobalReferenceType" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-23-100-270" name="referenceToDataSource"/>
                  <ilcd:display-name>Reference to data source(s)</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>q</ilcd:field-motivation>
                  <ilcd:field-requirement>o</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Reference to "UUID of source"(s) in the "Source data set" of data source(s) used for modelling the value of this single LCIA factor e.g. a specific paper,
            questionnaire, monography etc. If, as typical, more than one data source was used, more than one source can be referenced.</xs:documentation>
            </xs:annotation>
            <xs:unique name="flowReferenceToDataSourceShortDescriptionLangUniqueConstraint">
               <xs:selector xpath="common:shortDescription"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="ReviewType">
      <xs:sequence>
         <xs:element name="scope" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="1-3-20-82" name="scope"/>
                  <ilcd:display-name>Scope of review</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>q</ilcd:field-motivation>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Scope of review regarding which aspects and components of the data set was reviewed or verified. In case of aggregated e.g. LCI results also and on which
            level of detail (e.g. LCI results only, included unit processes, ...) the review / verification was performed.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="method" minOccurs="0" maxOccurs="unbounded">
                     <xs:annotation>
                        <xs:appinfo>
                           <ilcd:element id="1-3-20-83" name="method"/>
                           <ilcd:display-name>Method(s) of review</ilcd:display-name>
                           <ilcd:iso-field-id>2.6.1</ilcd:iso-field-id>
                           <ilcd:iso-field-name>Method</ilcd:iso-field-name>
                           <ilcd:field-motivation>q</ilcd:field-motivation>
                           <ilcd:field-requirement>r</ilcd:field-requirement>
                        </xs:appinfo>
                        <xs:documentation>Validation method(s) used in the respective "Scope of review".</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:attribute name="name" type="MethodOfReviewValues" use="required">
                           <xs:annotation>
                              <xs:appinfo>
                                 <ilcd:element id="1-3-20-83-1" name="name"/>
                                 <ilcd:display-name>Method name</ilcd:display-name>
                                 <ilcd:iso-field-id>2.6.1</ilcd:iso-field-id>
                                 <ilcd:iso-field-name>Method</ilcd:iso-field-name>
                                 <ilcd:field-motivation>q</ilcd:field-motivation>
                                 <ilcd:field-requirement>r</ilcd:field-requirement>
                              </xs:appinfo>
                              <xs:documentation>Method name</xs:documentation>
                           </xs:annotation>
                        </xs:attribute>
                        <xs:anyAttribute namespace="##other" processContents="lax"/>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
               <xs:attribute name="name" type="ScopeOfReviewValues" use="required">
                  <xs:annotation>
                     <xs:appinfo>
                        <ilcd:element id="1-3-20-82-1" name="name"/>
                        <ilcd:display-name>Scope name</ilcd:display-name>
                        <ilcd:iso-field-id>0</ilcd:iso-field-id>
                        <ilcd:iso-field-name/>
                        <ilcd:field-motivation>q</ilcd:field-motivation>
                        <ilcd:field-requirement>r</ilcd:field-requirement>
                     </xs:appinfo>
                     <xs:documentation/>
                  </xs:annotation>
               </xs:attribute>
               <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:complexType>
            <xs:unique name="Method">
               <xs:selector xpath="common:method"/>
               <xs:field xpath="@name"/>
            </xs:unique>
         </xs:element>
         <xs:element ref="common:reviewDetails" minOccurs="0" maxOccurs="100">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-19-88-10" name="reviewDetails"/>
                  <ilcd:display-name>Review details</ilcd:display-name>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Summary of the review. All the following items should be explicitly addressed: completeness and appropriateness of the model, geographical and temporal
            coverage and differentiation, correctness and precision of substance data or other underlying data; appropriateness and coherence of application of normalisation and/or
            weighting schemes, if included; correctness, appropriateness, comprehensibility, and completeness of the data set documentation; stakeholder aceptance of LCIA method.
            Optional: Comment of the reviewer on characterisation factors for single elementary flows or groups of elementary flows. Relevant restrictions to the review due to lack
            of transparency or documentation should be named. An overall quality statement may be included here.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:group ref="common:ValidationGroup3"/>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="common:TypeOfReviewValues" use="required"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="TimeType" mixed="false">
      <xs:sequence>
         <xs:element name="referenceYear" type="common:StringMultiLang" minOccurs="0"
                     maxOccurs="100">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-74-1" name="referenceYear"/>
                  <ilcd:display-name>Reference year</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Reference year when the emission is assumed to take place, i.e. the start year of the time period for which the impact is modelled. For time-independent
            models "time independent" should be stated.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="duration" type="common:StringMultiLang" minOccurs="0" maxOccurs="100">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-74-2" name="duration"/>
                  <ilcd:display-name>Duration of modelled impact</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Time period for which the impact is modelled.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="timeRepresentativenessDescription" type="common:FTMultiLang"
                     minOccurs="0"
                     maxOccurs="100">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-74-3" name="timeRepresentativenessDescription"/>
                  <ilcd:display-name>Time representativeness description</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>0</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Description of the valid time span of the data set including information on limited usability within sub-time spans, if any.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="ValidationType">
      <xs:sequence>
         <xs:element name="review" type="ReviewType" maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-19-88-1" name="type"/>
                  <ilcd:display-name>Type of review</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>q</ilcd:field-motivation>
                  <ilcd:field-requirement>m</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Type of review that has been performed regarding independency and type of review process.</xs:documentation>
            </xs:annotation>
            <xs:unique name="scopeUniqueConstraint">
               <xs:selector xpath="common:scope"/>
               <xs:field xpath="@name"/>
            </xs:unique>
            <xs:unique name="reviewDetailsUniqueConstraint">
               <xs:selector xpath="common:reviewDetails"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
            <xs:unique name="otherReviewDetailsLangUniqueConstraint">
               <xs:selector xpath="common:otherReviewDetails"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:element name="LCIAMethodDataSet" type="LCIAMethodDataSetType">
      <xs:annotation>
         <xs:appinfo>
            <ilcd:element id="3" name="LCIAMethodDataSet"/>
            <ilcd:display-name>LCIA Method data set</ilcd:display-name>
            <ilcd:iso-field-name>LCIA Method Dataset</ilcd:iso-field-name>
         </xs:appinfo>
      </xs:annotation>
   </xs:element>
</xs:schema>