schemas/ILCD_FlowPropertyDataSet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ILCD Format Version 1.1 Schemas Build 983 -->
<!--
Copyright (c) 1995-2009, European Commission. All rights reserved.

This file is part of the ILCD data format. The license conditions for the ILCD data format can be
found in the file ILCD_format_and_editor_license.txt included in this distribution. The license is
also available at http://lca.jrc.ec.europa.eu/eplca/doc/ILCD_format_and_editor_license.txt.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ilcd="http://lca.jrc.it/ILCD"
           xmlns:common="http://lca.jrc.it/ILCD/Common"
           xmlns:edoc="http://www.iai.fzk.de/lca/edoc"
           xmlns="http://lca.jrc.it/ILCD/FlowProperty"
           xmlns:flowproperty="http://lca.jrc.it/ILCD/FlowProperty"
           targetNamespace="http://lca.jrc.it/ILCD/FlowProperty"
           elementFormDefault="qualified"
           version="1.1">
   <xs:import namespace="http://lca.jrc.it/ILCD/Common"
              schemaLocation="ILCD_Common_Groups.xsd"/>
   <xs:complexType name="AdministrativeInformationType" mixed="false">
      <xs:sequence>
         <xs:element name="dataEntryBy" type="DataEntryByType" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="4-29-130" name="dataEntryBy"/>
                  <ilcd:display-name>Data entry by</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Staff or entity, that documented the generated data set, entering the information into the database; plus administrative information linked to the data entry activity.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="publicationAndOwnership" type="PublicationAndOwnershipType" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="4-29-132" name="publicationAndOwnership"/>
                  <ilcd:display-name>Publication and ownership</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Information related to publication and version management of the data set including copyright and access restrictions.</xs:documentation>
            </xs:annotation>
            <xs:unique name="referenceToOwnershipOfDataSetShortDescriptionLangUniqueConstraint">
               <xs:selector xpath="flowproperty:referenceToOwnershipOfDataSet"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
            <xs:unique name="accessRestrictionsLangUniqueConstraint">
               <xs:selector xpath="common:accessRestrictions"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="ComplianceDeclarationsType" mixed="false">
      <xs:sequence>
         <xs:element name="compliance" type="ComplianceType" minOccurs="1" maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="1-3-22-1" name="compliance"/>
                  <ilcd:display-name>Compliance</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>one compliance declaration</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="ComplianceType" mixed="false">
      <xs:sequence>
         <xs:group ref="common:ComplianceGroup"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="DataEntryByType" mixed="false">
      <xs:sequence>
         <xs:group ref="common:DataEntryByGroup1"/>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="DataSetInformationType" mixed="false">
      <xs:sequence>
         <xs:element ref="common:UUID">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="4-25-104-273" name="UUID"/>
                  <ilcd:display-name>UUID of flow property data set</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>m</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Automatically generated Universally Unique Identifier of this data set. Together with the "Data set version", the UUID uniquely identifies each data
            set.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:name" minOccurs="0" maxOccurs="100">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="4-25-104-274" name="name"/>
                  <ilcd:display-name>Name of flow property</ilcd:display-name>
                  <ilcd:iso-field-id>1.2.11.1</ilcd:iso-field-id>
                  <ilcd:iso-field-name>Name</ilcd:iso-field-name>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Name of flow property.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:synonyms" minOccurs="0" maxOccurs="100">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="4-25-104-275" name="synonyms"/>
                  <ilcd:display-name>Synonyms</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>o</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Synonyms are alternative names for the "Name" of the Flow property.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="classificationInformation" type="common:ClassificationInformationType"
                     minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="4-25-104-276" name="classificationInformation"/>
                  <ilcd:display-name>Classification information</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Hierachical classification of the Flow property foreseen to be used to structure the Flow property content of the database. (Note: This entry is NOT
            required for the identification of the Flow property data set. It should nevertheless be avoided to use identical names for Flow properties in the same
            class.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:generalComment" minOccurs="0" maxOccurs="100">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="4-25-104-278" name="generalComment"/>
                  <ilcd:display-name>General comment on data set</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>o</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Free text for general information about the data set. It may contain comments on e.g. information sources used as well as general (internal, not reviewed)
            quality statements.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="DataSourcesTreatmentAndRepresentativenessType" mixed="false">
      <xs:sequence>
         <xs:element name="referenceToDataSource" type="common:GlobalReferenceType" minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="4-27-118-280" name="referenceToDataSource"/>
                  <ilcd:display-name>Data source</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>q</ilcd:field-motivation>
                  <ilcd:field-requirement>o</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>"Source data set" of data source(s) used for the data set e.g. a paper, a questionnaire, a monography etc. The main raw data sources should be named, too.
            [Note: relevant especially for market price data.]</xs:documentation>
            </xs:annotation>
            <xs:unique name="referenceToDataSourceShortDescriptionLangUniqueConstraint">
               <xs:selector xpath="common:shortDescription"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="FlowPropertiesInformationType" mixed="false">
      <xs:sequence>
         <xs:element name="dataSetInformation" type="DataSetInformationType">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="4-25-104" name="dataSetInformation"/>
                  <ilcd:display-name>Data set information</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
               </xs:appinfo>
               <xs:documentation/>
            </xs:annotation>
            <xs:unique name="nameLangUniqueConstraint">
               <xs:selector xpath="common:name"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
            <xs:unique name="synonymsLangUniqueConstraint">
               <xs:selector xpath="common:synonyms"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
            <xs:unique name="generalCommentLangUniqueConstraint">
               <xs:selector xpath="common:generalComment"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element name="quantitativeReference" type="QuantitativeReferenceType" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="4-25-106" name="quantitativeReference"/>
                  <ilcd:display-name>Quantitative reference</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>This section allows to refer to the Flow property's quantitative reference, which is always a unit (i.e. that unit, in which the property is measured,
            e.g. "MJ" for energy-related Flow properties).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="FlowPropertyDataSetType" mixed="false">
      <xs:sequence>
         <xs:element name="flowPropertiesInformation" type="FlowPropertiesInformationType">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="4-25" name="flowPropertiesInformation"/>
                  <ilcd:display-name>Flow property information</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
               </xs:appinfo>
               <xs:documentation/>
            </xs:annotation>
         </xs:element>
         <xs:element name="modellingAndValidation" type="ModellingAndValidationType" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="4-27" name="modellingAndValidation"/>
                  <ilcd:display-name>Modelling and validation</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
               </xs:appinfo>
               <xs:documentation>Covers the five sub-sections 1) LCI method (not used), 2) Data sources, treatment and representativeness (only 3 fields), 3) Completeness (not used), 4)
            Validation, and 5) Compliance.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="administrativeInformation" type="AdministrativeInformationType"
                     minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="4-29" name="administrativeInformation"/>
                  <ilcd:display-name>Administrative information</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Information on data set management and administration.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="version" type="common:SchemaVersion" use="required"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="ModellingAndValidationType" mixed="false">
      <xs:sequence>
         <xs:element name="dataSourcesTreatmentAndRepresentativeness"
                     type="DataSourcesTreatmentAndRepresentativenessType"
                     minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="4-27-118" name="dataSourcesTreatmentAndRepresentativeness"/>
                  <ilcd:display-name>Data sources, treatment and representativeness</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
               </xs:appinfo>
               <xs:documentation/>
            </xs:annotation>
         </xs:element>
         <xs:element name="complianceDeclarations" type="ComplianceDeclarationsType" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="1-3-22" name="complianceDeclarations"/>
                  <ilcd:display-name>Compliance declarations</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Statements on compliance of several data set aspects with compliance requirements as defined by the referenced compliance system (e.g. an EPD scheme,
            handbook of a national or international data network such as the ILCD, etc.).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="PublicationAndOwnershipType" mixed="false">
      <xs:sequence>
         <xs:group ref="common:PublicationAndOwnershipGroup1"/>
         <xs:element ref="common:referenceToOwnershipOfDataSet" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="1-5-30-115" name="referenceToOwnershipOfDataSet"/>
                  <ilcd:display-name>Owner of data set</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>r</ilcd:field-motivation>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>"Contact data set" of the person or entity who owns this data set. (Note: this is not necessarily the publisher of the data set.)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="QuantitativeReferenceType" mixed="false">
      <xs:sequence>
         <xs:element name="referenceToReferenceUnitGroup" type="common:GlobalReferenceType">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="4-25-106-279" name="referenceToReferenceUnitGroup"/>
                  <ilcd:display-name>Reference unit</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>"Unit group data set" and its reference unit, in which the Flow property is measured.</xs:documentation>
            </xs:annotation>
            <xs:unique name="referenceToReferenceUnitGroupShortDescriptionLangUniqueConstraint">
               <xs:selector xpath="common:shortDescription"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:element name="flowPropertyDataSet" type="FlowPropertyDataSetType">
      <xs:annotation>
         <xs:appinfo>
            <ilcd:element id="4" name="flowPropertyDataSet"/>
            <ilcd:display-name>Flow property data set</ilcd:display-name>
            <ilcd:iso-field-name>Flow Property Dataset</ilcd:iso-field-name>
         </xs:appinfo>
      </xs:annotation>
   </xs:element>
</xs:schema>