schemas/ILCD_FlowDataSet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ILCD Format Version 1.1 Schemas Build 983 -->
<!--
Copyright (c) 1995-2009, European Commission. All rights reserved.

This file is part of the ILCD data format. The license conditions for the ILCD data format can be
found in the file ILCD_format_and_editor_license.txt included in this distribution. The license is
also available at http://lca.jrc.ec.europa.eu/eplca/doc/ILCD_format_and_editor_license.txt.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ilcd="http://lca.jrc.it/ILCD"
           xmlns="http://lca.jrc.it/ILCD/Flow"
           xmlns:edoc="http://www.iai.fzk.de/lca/edoc"
           xmlns:flow="http://lca.jrc.it/ILCD/Flow"
           xmlns:common="http://lca.jrc.it/ILCD/Common"
           targetNamespace="http://lca.jrc.it/ILCD/Flow"
           elementFormDefault="qualified"
           version="1.1">
   <xs:import namespace="http://lca.jrc.it/ILCD/Common"
              schemaLocation="ILCD_Common_Groups.xsd"/>
   <xs:complexType name="AdministrativeInformationType" mixed="false">
      <xs:sequence>
         <xs:element name="dataEntryBy" type="DataEntryByType" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="2-13-62" name="dataEntryBy"/>
                  <ilcd:display-name>Data entry by</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Staff or entity, that documented the generated data set, entering the information into the database; plus administrative information linked to the data
            entry activity.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="publicationAndOwnership" type="PublicationAndOwnershipType" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="2-13-64" name="publicationAndOwnership"/>
                  <ilcd:display-name>Publication and ownership</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Information related to publication and version management of the data set including copyright and access restrictions.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="CompletenessAvailabilityImpactFactorsType">
      <xs:attribute name="type" type="common:CompletenessTypeValues" use="required"/>
      <xs:attribute name="value" type="common:CompletenessAvailabilityValues" use="required"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="ComplianceDeclarationsType" mixed="false">
      <xs:sequence>
         <xs:element name="compliance" type="ComplianceType" minOccurs="1" maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="1-3-22-1" name="compliance"/>
                  <ilcd:display-name>Compliance</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>one compliance declaration</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="ComplianceType" mixed="false">
      <xs:sequence>
         <xs:group ref="common:ComplianceGroup"/>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="DataEntryByType" mixed="false">
      <xs:sequence>
         <xs:group ref="common:DataEntryByGroup1"/>
         <xs:group ref="common:DataEntryByGroup2"/>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="DataSetInformationType" mixed="false">
      <xs:sequence>
         <xs:element ref="common:UUID">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="2-9-36-137" name="UUID"/>
                  <ilcd:display-name>UUID of flow data set</ilcd:display-name>
                  <ilcd:iso-field-id>1.2.1</ilcd:iso-field-id>
                  <ilcd:iso-field-name>Identification number</ilcd:iso-field-name>
                  <ilcd:field-requirement>m</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Automatically generated Universally Unique Identifier of this data set. Together with the "Data set version", the UUID uniquely identifies each data
            set.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="name" type="NameType" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="2-9-36-138-1" name="name"/>
                  <ilcd:display-name>Name</ilcd:display-name>
                  <ilcd:iso-field-id>1.2.10.1</ilcd:iso-field-id>
                  <ilcd:iso-field-name>Name text</ilcd:iso-field-name>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>General descriptive and specifying name of the flow.</xs:documentation>
            </xs:annotation>
            <xs:unique name="baseNameLangUniqueConstraint">
               <xs:selector xpath="flow:baseName"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
            <xs:unique name="treatmentStandardsRoutesLangUniqueConstraint">
               <xs:selector xpath="flow:treatmentStandardsRoutes"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
            <xs:unique name="mixAndLocationTypesLangUniqueConstraint">
               <xs:selector xpath="flow:mixAndLocationTypes"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
            <xs:unique name="flowPropertiesLangUniqueConstraint">
               <xs:selector xpath="flow:flowProperties"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element ref="common:synonyms" minOccurs="0" maxOccurs="100">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="2-9-36-142" name="synonyms"/>
                  <ilcd:display-name>Synonyms</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>o</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Synonyms / alternative names / brands of the good, service, or process. Separated by semicolon.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="classificationInformation" type="common:FlowCategoryInformationType"
                     minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="2-9-36-143" name="classificationInformation"/>
                  <ilcd:display-name>Category and classification information</ilcd:display-name>
                  <ilcd:iso-field-id>(1.2.3), 1.2.4</ilcd:iso-field-id>
                  <ilcd:iso-field-name>(Group), (Receiving environment)</ilcd:iso-field-name>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Hierachical classification of the Flow property foreseen to be used to structure the Flow property content of the database. (Note: This entry is NOT
            required for the identification of the Flow property data set. It should nevertheless be avoided to use identical names for Flow properties in the same
            class.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CASNumber" type="common:CASNumber" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="2-9-36-146" name="CASNumber"/>
                  <ilcd:display-name>CAS Number</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Chemical Abstract Systems Number of the substance. [Note: Should only be given for (virtually) pure substances, but NOT also for the main constituent of a
            material or product etc.]</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="sumFormula" type="common:String" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="2-9-36-147" name="sumFormula"/>
                  <ilcd:display-name>Sum formula</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Chemical sum formula of the substance.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:generalComment" minOccurs="0" maxOccurs="100">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="2-9-36-150" name="generalComment"/>
                  <ilcd:display-name>General comment on data set</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>o</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Free text for general information about the Flow data set. It may contain information about e.g. the use of the substance, good, service or process in a
            specific technology or industry-context, information sources used, data selection principles etc.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="FlowDataSetType" mixed="false">
      <xs:sequence>
         <xs:element name="flowInformation" type="FlowInformationType">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="2-9" name="flowInformation"/>
                  <ilcd:display-name>Flow information</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
               </xs:appinfo>
               <xs:documentation>Covers the INvariable flow information addressed in ISO/TS 14048's section "Inputs and outputs"</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="modellingAndValidation" type="ModellingAndValidationType" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="2-11" name="modellingAndValidation"/>
                  <ilcd:display-name>Modelling and validation</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Covers the five sub-sections 1) LCI method, 2) Data sources, treatment and representativeness (not used for flows), 3) Completeness (not used for flows),
            4) Validation (not used for flows), and 5) Compliance.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="administrativeInformation" type="AdministrativeInformationType"
                     minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="2-13" name="administrativeInformation"/>
                  <ilcd:display-name>Administrative information</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Information on data set management and administration.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="flowProperties" type="FlowPropertiesType" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="2-15-66" name="flowProperties"/>
                  <ilcd:display-name>Flow properties</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>List of flow properties (with all variable information linked to that respective flow).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="version" type="common:SchemaVersion" use="required"/>
      <xs:attribute name="locations" type="common:String"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="FlowInformationType" mixed="false">
      <xs:sequence>
         <xs:element name="dataSetInformation" type="DataSetInformationType">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="2-9-36" name="dataSetInformation"/>
                  <ilcd:display-name>Data set information</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
               </xs:appinfo>
               <xs:documentation>General data set information. Covers the ISO/TS 14048 fields 1.2.1, 1.2.3, 1.2.4, 1.2.5, (1.2.6), (1.2.7),1.2.10.1, 1.2.10.2, 1.2.10.3, and references to
            1.2.11 (Flow property) and 1.2.11.2 (Unit).</xs:documentation>
            </xs:annotation>
            <xs:unique name="synonymsLangUniqueConstraint">
               <xs:selector xpath="common:synonyms"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
            <xs:unique name="generalCommentLangUniqueConstraint">
               <xs:selector xpath="common:generalComment"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element name="quantitativeReference" type="QuantitativeReferenceType" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="2-9-38" name="quantitativeReference"/>
                  <ilcd:display-name>Quantitative reference</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>This section names the type of quantitative reference used for this Flow data set, which is always one of the Flow's Flow properties (see section "Flow
            properties").</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="geography" type="GeographyType" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="2-9-42" name="geography"/>
                  <ilcd:display-name>Geography</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
               </xs:appinfo>
               <xs:documentation>Provides information about the geographical representativeness of the data set.</xs:documentation>
            </xs:annotation>
            <xs:unique name="locationOfSupplyLangUniqueConstraint">
               <xs:selector xpath="flow:locationOfSupply"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element name="technology" type="TechnologyType" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="2-9-43" name="technology"/>
                  <ilcd:display-name>Technological representativeness</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>o</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Provides information about the technological representativeness of the flow in case it is a product or waste flow.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="FlowPropertiesType" mixed="false">
      <xs:sequence>
         <xs:element name="flowProperty" type="FlowPropertyType" maxOccurs="unbounded" minOccurs="1">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="2-15-66-1" name="flowProperty"/>
                  <ilcd:display-name>Flow property</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>One flow property</xs:documentation>
            </xs:annotation>
            <xs:unique name="flowPropertyGeneralCommentLangUniqueConstraint">
               <xs:selector xpath="flow:generalComment"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="FlowPropertyType">
      <xs:sequence>
         <xs:element name="referenceToFlowPropertyDataSet" type="common:GlobalReferenceType">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="2-15-66-190" name="referenceToFlowPropertyDataSet"/>
                  <ilcd:display-name>Flow property</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>"Flow property data set".</xs:documentation>
            </xs:annotation>
            <xs:unique name="referenceToFlowPropertyDataSetShortDescriptionLangUniqueConstraint">
               <xs:selector xpath="common:shortDescription"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element name="meanValue" type="common:Real">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="2-15-66-192" name="meanValue"/>
                  <ilcd:display-name>Mean value (of flow property)</ilcd:display-name>
                  <ilcd:iso-field-id>1.2.11.3</ilcd:iso-field-id>
                  <ilcd:iso-field-name>Amount</ilcd:iso-field-name>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Value for the flow expressed in this flow property in relationship to the the value of the flow expressed in its reference flow property (see field
            "Reference to reference flow property" in the "Quantitative reference" section). [Notes and examples: If the product flow "Diesel" is expressed by default in "Mass" (=
            reference flow property) and "kg" (= corresponding reference unit), the value that would be stated here for an additional flow property e.g. "Net calorific value" would
            be "42.5", as this flow property has the reference unit "MJ" and Diesel has a net calorific value of 42.5 MJ per 1 kg. It is recommended to report only significant
            digits of the value.]</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="minimumValue" type="common:Real" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="2-15-66-193" name="minimumValue"/>
                  <ilcd:display-name>Minimum value</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Minimum value of this flow property in case uncertainty distribution is uniform or triangular.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="maximumValue" type="common:Real" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="2-15-66-194" name="maximumValue"/>
                  <ilcd:display-name>Maximum value</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Maximum value of this flow property in case uncertainty distribution is uniform or triangular.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="uncertaintyDistributionType" minOccurs="0"
                     type="common:UncertaintyDistributionTypeValues">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="2-15-66-195" name="uncertaintyDistributionType"/>
                  <ilcd:display-name>Uncertainty distribution type</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>o</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Defines the kind of uncertainty distribution that is valid for this particular object or parameter.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="relativeStandardDeviation95In" minOccurs="0" type="common:Perc">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="2-15-66-196" name="relativeStandardDeviation95In"/>
                  <ilcd:display-name>Relative StdDev in %</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>The resulting overall uncertainty of the calculated variable value considering uncertainty of measurements, modelling, appropriateness etc. [Notes: For log-normal distribution the square of the geometric standard deviation (SDg^2) is stated. Mean value times SDg^2 equals the 97.5% value (= Maximum value), Mean value divided by SDg^2 equals the 2.5% value (= Minimum value). For normal distribution the doubled standard deviation value (2*SD) is entered. Mean value plus 2*SD equals 97.5% value (= Maximum value), Mean value minus 2*SD equals 2.5% value (= Minimum value). This data field remains empty when uniform or triangular uncertainty distribution is applied.]</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="dataDerivationTypeStatus" minOccurs="0"
                     type="common:FlowDataDerivationTypeStatusValues">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="2-15-66-198" name="dataDerivationTypeStatus"/>
                  <ilcd:display-name>Data derivation type / status</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>q</ilcd:field-motivation>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Identifies the way by which the Flow property value was derived (e.g. measured, estimated etc.), respectively the status and relevancy of missing data.
        </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="generalComment" type="common:StringMultiLang" minOccurs="0"
                     maxOccurs="100">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="2-15-66-199" name="generalComment"/>
                  <ilcd:display-name>Comment</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>o</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>General comment on each single flow property (if necessary) referring to specifc data sources used, or for workflow purposes about status of
            "finalisation" of an entry etc.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="dataSetInternalID" type="common:Int5">
         <xs:annotation>
            <xs:appinfo>
               <ilcd:element id="2-15-66-191" name="dataSetInternalID"/>
               <ilcd:display-name>Data set internal ID</ilcd:display-name>
               <ilcd:iso-field-id/>
               <ilcd:iso-field-name/>
               <ilcd:field-motivation>t</ilcd:field-motivation>
               <ilcd:field-requirement>r</ilcd:field-requirement>
            </xs:appinfo>
            <xs:documentation>Automated entry: internal ID, used in the "Quantitative reference" section to identify the reference flow property.</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="GeographyType" mixed="false">
      <xs:sequence>
         <xs:element name="locationOfSupply" type="common:StringMultiLang" minOccurs="1"
                     maxOccurs="100">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="2-9-42-152" name="locationOfSupply"/>
                  <ilcd:display-name>Location of supply</ilcd:display-name>
                  <ilcd:iso-field-id>1.2.8.1</ilcd:iso-field-id>
                  <ilcd:iso-field-name>Origin or destination</ilcd:iso-field-name>
                  <ilcd:field-requirement>o</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Only used for product or waste flows and only required for matrix-type databases. Location or region of supply / consumption or production of the good or
            service, or operation of the process. [Note 1: Entry can be of type "two-letter ISO 3166 country code" for countries, "seven-letter regional codes" for regions or
            continents, or "market areas and market organisations", as predefined for the ILCD. Also a name for e.g. a specific plant etc. can be given here (e.g. "FR, Lyon, XY
            Company, Z Site"; user defined). Note 2: The fact whether the entry refers to production or to consumption / supply has to be stated in the name-field "Mix and location
            types" e.g. as "Production mix".]</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="LCIMethodType" mixed="false">
      <xs:sequence>
         <xs:element name="typeOfDataSet" type="common:FlowTypeValues">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="2-11-48-153" name="typeOfDataSet"/>
                  <ilcd:display-name>Type of flow</ilcd:display-name>
                  <ilcd:iso-field-id>(1.2.3 and 1.2.4)</ilcd:iso-field-id>
                  <ilcd:iso-field-name>(Group), (Receiving environment)</ilcd:iso-field-name>
                  <ilcd:field-motivation>t</ilcd:field-motivation>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Names the basic type of the flow.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="ModellingAndValidationType" mixed="false">
      <xs:sequence>
         <xs:element name="LCIMethod" type="LCIMethodType" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="2-11-48" name="LCIMethod"/>
                  <ilcd:display-name>LCI method</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>LCI methodological modelling aspects.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="complianceDeclarations" type="ComplianceDeclarationsType" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="2-11-56" name="complianceDeclarations"/>
                  <ilcd:display-name>Compliance declarations</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Statements on compliance of several data set aspects with compliance requirements as defined by the referenced compliance system (e.g. an EPD scheme,
            handbook of a national or international data network such as the ILCD, etc.).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="NameType">
      <xs:sequence>
         <xs:element name="baseName" type="common:StringMultiLang" maxOccurs="100">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="2-9-36-138" name="baseName"/>
                  <ilcd:display-name>Base name</ilcd:display-name>
                  <ilcd:iso-field-id>1.2.10.1</ilcd:iso-field-id>
                  <ilcd:iso-field-name>Name text</ilcd:iso-field-name>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>General descriptive name of the elementary, waste or product flow, for the latter including it's level of processing.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="treatmentStandardsRoutes" type="common:StringMultiLang" minOccurs="0"
                     maxOccurs="100">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="2-9-36-139" name="treatmentStandardsRoutes"/>
                  <ilcd:display-name>Treatment, standards, routes</ilcd:display-name>
                  <ilcd:iso-field-id>(1.2.10.3)</ilcd:iso-field-id>
                  <ilcd:iso-field-name>(Specification of name)</ilcd:iso-field-name>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Specifying information on the (product or waste) flow in technical term(s): treatment received, standard fulfilled, product quality, use information,
            production route name, educt name, primary / secondary etc. Separated by commata..</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="mixAndLocationTypes" type="common:StringMultiLang" minOccurs="0"
                     maxOccurs="100">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="2-9-36-140" name="mixAndLocationTypes"/>
                  <ilcd:display-name>Mix and location types</ilcd:display-name>
                  <ilcd:iso-field-id>(1.2.8.1), 1.2.10.3</ilcd:iso-field-id>
                  <ilcd:iso-field-name>(Origin or destination), Specification of name</ilcd:iso-field-name>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Specifying information on the good, service, or process whether being a production mix or consumption mix, location type of availability (such as e.g. "to
            consumer" or "at plant"). Separated by commata.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="flowProperties" type="common:StringMultiLang" minOccurs="0"
                     maxOccurs="100">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="2-9-36-141" name="flowProperties"/>
                  <ilcd:display-name>Quantitative flow properties</ilcd:display-name>
                  <ilcd:iso-field-id>(1.2.10.3)</ilcd:iso-field-id>
                  <ilcd:iso-field-name>(Specification of name)</ilcd:iso-field-name>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Further, quantitative specifying information on the (product or waste) flow, in technical term(s): qualifying constituent(s)-content and / or
            energy-content per unit etc. as appropriate. Separated by commata. (Note: non-qualifying flow properties, CAS No, Synonyms, Chemical formulas etc. are documented
            exclusively in the respective fields.)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="PublicationAndOwnershipType" mixed="false">
      <xs:sequence>
         <xs:group ref="common:PublicationAndOwnershipGroup1"/>
         <xs:element ref="common:referenceToOwnershipOfDataSet" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="1-5-30-115" name="referenceToOwnershipOfDataSet"/>
                  <ilcd:display-name>Owner of data set</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>r</ilcd:field-motivation>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>"Contact data set" of the person or entity who owns this data set. (Note: this is not necessarily the publisher of the data set.)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="QuantitativeReferenceType" mixed="false">
      <xs:sequence>
         <xs:element name="referenceToReferenceFlowProperty" type="common:Int5">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="2-9-38-151" name="referenceToReferenceFlowProperty"/>
                  <ilcd:display-name>Reference flow property</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>r</ilcd:field-motivation>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>One of the Flow's Flow properties, which is set as the default flow property in which the flow measured. (Data set internal reference to one of the flow
            properties in section "Quantitative flow properties".)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="TechnologyType">
      <xs:sequence>
         <xs:element name="technologicalApplicability" type="common:FTMultiLang" minOccurs="0"
                     maxOccurs="100">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="2-9-43-1" name="technologicalApplicability"/>
                  <ilcd:display-name>Technical purpose of product or waste</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>o</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Description of the intended / possible applications of the good or service, or waste. E.g. for which type of products the material, represented by this
            data set, is used. Examples: "This high purity chemical is used for analytical laboratories only." or "This technical quality bulk chemical is used for large scale
            synthesis in chemical industry.". Or: "This type of biowaste is typically composted or biodigested as the water content is too high for efficient
            combustion".</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="referenceToTechnicalSpecification" type="common:GlobalReferenceType"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="2-9-43-2" name="referenceToTechnicalSpecification"/>
                  <ilcd:display-name>Technical specification</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>o</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>"Source data set(s)" of the product's or waste's technical specification, waste data sheet, safety data sheet, etc.</xs:documentation>
            </xs:annotation>
            <xs:unique name="referenceToTechnicalSpecificationShortDescriptionLangUniqueConstraint">
               <xs:selector xpath="common:shortDescription"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="flowDataSet" type="FlowDataSetType">
      <xs:annotation>
         <xs:appinfo>
            <ilcd:element id="2" name="flowDataSet"/>
            <ilcd:display-name>Flow data set</ilcd:display-name>
            <ilcd:iso-field-name>Flow Dataset</ilcd:iso-field-name>
         </xs:appinfo>
      </xs:annotation>
      <xs:key name="FlowPropertyInternalID">
         <xs:selector xpath="flow:flowProperties/flow:flowProperty"/>
         <xs:field xpath="@dataSetInternalID"/>
      </xs:key>
      <xs:keyref name="ReferenceToReferenceFlowProperty" refer="FlowPropertyInternalID">
         <xs:selector xpath="flow:flowInformation/flow:quantitativeReference/flow:referenceToReferenceFlowProperty"/>
         <xs:field xpath="."/>
      </xs:keyref>
   </xs:element>
</xs:schema>